<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="parts/header :: header"></div>

<body>
<div th:replace="parts/navbarAdmin :: navbarAdmin"></div>
<h1 id="list-item-1">h</h1>
<div class="container-xl my-5">
    <h3 class="text-center my-3">Список участников по ID</h3>
    <div th:each="user : ${userList}">
        <div th:text="${user.id + '_' + user.lastName + '_' +user.firstName + '_'+ user.middleName}"></div>
    </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>