<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="parts/header :: header"></div>

<body>
<div th:replace="parts/navbar :: navbar"></div>

<h1 id="fee-list-item-1">h</h1>
<div class="container-xl py-3">
    <h4>ОРГВЗНОС</h4>
    <!--    <h5 class="my-4">Информация по размеру и оплате оргвзноса появится позднее</h5>-->
    <p><b style="color: #011f9b">10 000 ₽</b> стоимость участия с публикацией <a href="/publications#publ-list-item-1">
        тезисов доклада</a>.</p>
    <!--    <p><b style="color: #011f9b">12 000 ₽</b> ориентировочная стоимость публикации статьи в журнале, индексируемом-->
    <!--        <a href="https://www.scimagojr.com/" target="_blank"> SCImago</a>.</p>-->
    <p><b style="color: #011f9b">30 000 ₽</b> стоимость публикации в
        <a href="/publications#publ-list-item-2"> Russian physics journal</a>
        (<a href="https://www.scimagojr.com/journalsearch.php?q=144737&tip=sid&clean=0" target="_blank">SCImago Q3</a>),
        тип публикации - журнальная.<br></p>

    <!--    <p><b>Заполнение договора является обязательной процедурой</b> для всех участников-->
    <!--        (независимо от способа оплаты).<br>-->
    <!--        Номер и дату договора присваивает исполнитель (ИФПМ СО РАН).</p>-->

    <!--    <p><b>1. Оплата по договору оказания услуг с юридическим лицом</b><br>-->
    <!--        Участнику или группе участников необходимо заполнить договор: внести реквизиты организации и контактную-->
    <!--        информацию, подписать со своей стороны, поставить печать и загрузить сканированную копию документа в-->
    <!--        <a href="/personal">личный кабинет</a>-->
    <!--        раздел Оргвзнос. Позже в личном кабинете будет предоставлен счет для безналичной оплаты.-->
    <!--        Уведомление будет отправлено на e-mail.<br>-->
    <!--        Оригиналы договора (в 2-х экземплярах) необходимо предоставить во время конференции, либо выслать почтой:-->
    <!--        634055, г. Томск, просп. Академический, 2/4, Биргкаем Анне.</p>-->
    <!--    <p><a href="/publications/contractCompany" download="ЮЛ участие без публикации_2023.doc"> Договор с юридическим-->
    <!--        лицом на-->
    <!--        оплату оргвзноса с публикацией тезисов</a></p>-->
    <!--    <p><a href="/publications/contractCompanyPaper"-->
    <!--          download="ЮЛ участие с публикацией Russian physics journal_2023.doc"> Договор с юридическим лицом-->
    <!--        на оплату оргвзноса с публикацией тезисов и статьи в журнале Russian physics journal</a></p>-->

    <!--    <p><b>2. Оплата по договору с физическим лицом</b><br>-->
    <!--        Участнику необходимо заполнить договор: внести реквизиты (паспортные данные) и контактную информацию, подписать-->
    <!--        со своей стороны и загрузить сканированную копию документа в <a href="/personal">личный кабинет</a> раздел-->
    <!--        Оргвзнос. Позже в личном кабинете будет предоставлен счет для безналичной оплаты. Уведомление будет отправлено-->
    <!--        на e-mail.<br>-->
    <!--        Оплатить квитанцию возможно в любом удобном для Вас банке. Оплата организационного взноса должна быть-->
    <!--        произведена от имени заказчика.<br>-->
    <!--        Обращаем Ваше внимание, что сначала необходимо загрузить сканированную копию договора и только потом, после-->
    <!--        получения в личном кабинете квитанции, производить оплату организационного взноса.<br>-->
    <!--        Оригиналы договора (в 2-х экземплярах) необходимо предоставить во время конференции, либо выслать почтой:-->
    <!--        634055, г. Томск, просп. Академический, 2/4, Биргкаем Анне.</p></p>-->
    <!--    <p><a href="/publications/contractPersonal" download="ФЛ участие без публикации_2023.doc"> Договор с физическим-->
    <!--        лицом на оплату оргвзноса с публикацией тезисов</a></p>-->
    <!--    <p><a href="/publications/contractPersonalPaper"-->
    <!--          download="ФЛ участие с публикацией Russian physics journal_2023.doc"> Договор с физическим лицом-->
    <!--        на оплату оргвзноса с публикацией тезисов и статьи в журнале Russian physics journal</a></p>-->

    <!--    <p>Для самостоятельного расчета НДС можно воспользоваться онлайн-сервисом <a href="https://ndscalc.ru/"-->
    <!--                                                                                 target="_blank">ndscalc.ru</a></p>-->
    <!--    &lt;!&ndash;    <p>Договора на оплату оргвзноса будут размещены на сайте позднее. Информация о размещении договоров и возможности&ndash;&gt;-->
    <!--    &lt;!&ndash;        оплаты будет разослана всем зарегистрированным участникам</p>&ndash;&gt;-->
    <!--    <p>По всем возникающим вопросам обращаться к <a href="/contacts">Биргкаем Анне Андреевне</a>.</p>-->

    <h4 class="py-2" id="fee-list-item-2">МЕСТО ПРОВЕДЕНИЯ</h4>
    <p> Заседания конференции, пленарная, устная и стендовые секции будут проходить в конгресс-центре «Рубин»,<br>
        г. Томск, пр. Академический, д. 16</p>
    <p> Сайт: <a href="https://rubin.tomsk.ru/" target="_blank"> rubin.tomsk.ru</a>, тел./факс: (3822) 49-26-89,
        49-25-59,</p>
    <p> E-mail: <a href="mailto:rubin@mail.tomsknet.ru?subject=Физическая мезомеханика"> rubin@mail.tomsknet.ru </a></p>
    <p><a href="/fee/downloadAkademgorodokMap" download="Akadem_map_2023.pdf">Карта-схема Академгородка</a></p>

    <h4 class="py-2" id="fee-list-item-3">ПРОЖИВАНИЕ</h4>
    <p> Ближайшая к месту проведения Конференции гостиница — конгресс-центр «Рубин», <br>
        Для получения <b>скидки в 20%</b> на проживание при бронировании гостиницы
        сообщите, что Вы участник данной конференции. <br>
        После бронирования напишите <a href="mailto:meso@ispms.ru?subject=Проживание">секретарю конференции</a>
        для внесения Вас в список участников, проживающих в гостинице Рубин.</p>
    <p> Сайт: <a href="https://rubin.tomsk.ru/" target="_blank"> rubin.tomsk.ru</a>, тел./факс: (3822) 49-26-89,
        49-25-59,</p>
    <p> E-mail: <a href="mailto:rubin@mail.tomsknet.ru?subject=Физическая мезомеханика"> rubin@mail.tomsknet.ru </a></p>

</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>