<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="parts/header :: header"></div>

<body>
<div th:replace="parts/navbar :: navbar"></div>

<h1 id="list-item-1">h</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators" th:fragment="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/MainPhoto1_2024.jpg" class="d-block w-100" alt="...">
            <div th:fragment="carousel-caption" class="carousel-caption d-none d-md-block"
                 style="color: black; background: white; opacity: 0.6">
                <h2>Физическая мезомеханика</h2>
                <h5>09-12 сентября 2024 г.Томск</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto2_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="mainPage :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto3_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="mainPage :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto4_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="mainPage :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto5_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="mainPage :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto6_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="mainPage :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto7_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="mainPage :: carousel-caption"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container text-center">
    <div class="btn-group my-1" role="group" aria-label="btn-group">
        <a class="btn btn-outline-secondary btn-sm" href="/program/downloadCurrentProgram"
           download="Program_Mesomechanics_2023.pdf" type="button">Программа «Физическая мезомеханика 2023»</a>
        <a class="btn btn-outline-secondary btn-sm" href="/program/downloadCurrentThesis"
           download="Thesis_Mesomechanics_2023.pdf" type="button">Сборник тезисов «Физическая мезомеханика 2023»</a>
    </div>
    <div class="row">
        <div class="col-9">
            <h4 class="my-3">ОБЩАЯ ИНФОРМАЦИЯ</h4>

            <!--    <div class="btn-group my-1" role="group" aria-label="btn-group">-->
            <!--        <a href="/program/downloadСurrentProgram" download="Program_Mesomechanics_2023.pdf"-->
            <!--          type="button" class="btn btn-outline-success shadow-lg p-2 mb-3 rounded">Программа конференции «Физическая мезомеханика 2023»</a>-->
            <!--        <a href="/program/downloadСurrentThesis" download="Thesis_Mesomechanics_2023.pdf"-->
            <!--           type="button" class="btn btn-outline-success shadow-lg p-2 mb-3 rounded">Сборник тезисов «Физическая мезомеханика 2023»</a>-->
            <!--    </div>-->

            <p>Международная конференция <b>«Физическая мезомеханика. Материалы с многоуровневой иерархически
                организованной структурой и интеллектуальные производственные технологии»</b> (MESO 2024)
                <!--                продолжает серию-->
                <!--                международных научных конференций, инициированных в 1996 году создателем и первым директором ИФПМ СО РАН-->
                <!--                академиком Паниным Виктором Евгеньевичем и ежегодно организуемых ИФПМ СО РАН в сотрудничестве с ведущими-->
                <!--                российскими и зарубежными научно-образовательными центрами. Конференция пройдет -->
                будет проходить <b>09-12 сентября 2024 года в Томске</b>.</p>
            <p>Целью предстоящей научной конференции является объединение усилий ученых, ведущих исследования в
                различных областях физики твердого тела, материаловедения, механики, химии, математики и машинного
                обучения для поиска ответов на актуальные вопросы физики конденсированного состояния и физического
                материаловедения.
                Концепция физической мезомеханики представляет собой эффективную научную платформу для такого
                объединения и решения актуальных, в том числе только возникающих задач.
                Исследования последних лет, осуществляемые ведущими мировыми центрами в области физики конденсированного
                состояния и материаловедения, убедительно доказывают, что механизмы и характер нелинейного отклика
                твердофазных материалов и «мягкой материи» (soft matter) при внешних воздействиях различной природы
                (механических, тепловых, электромагнитных, радиационных и т.д.) в значительной степени определяются
                иерархией и самоорганизацией аккомодационных процессов. Механизмы и законы аккомодации материалов
                изучаются физической мезомеханикой.
                Являясь междисциплинарным научным направлением на стыке механического и физико-химического подходов к
                описанию вещества, физическая мезомеханика объединяет механику структурно-неоднородных сред, физику
                конденсированного состояния, физику пластичности и разрушения, физико-химию формирования структуры
                вещества и физическое материаловедение. Физическая мезомеханика уделяет особое внимание обоснованию
                общности закономерностей многомасштабной самоорганизации нелинейных процессов и явлений в неорганических
                и органических материалах, включая «мягкую материю».</p>
            <p>Глобальной задачей физической мезомеханики является разработка научных основ современной парадигмы в
                науке о материалах (мультимасштабность, мультифизика, междисциплинарность), ставшей в настоящее время
                неотъемлемой частью методологии механики, физики, химии, наук о жизни и т.д. Это делает физическую
                мезомеханику востребованной как в фундаментальной науке, так и в практически важных (технических)
                приложениях, в которых также необходим учет многоуровневой организации природных и искусственных
                материалов.</p>
            <!--            <p>Конференция ежегодно собирает около 300 участников из различных научных и научно-образовательных центров-->
            <!--                России, Германии, Франции, Китая, Испании, Израиля, Словении, стран Евразийского экономического союза и-->
            <!--                т.д. Конференция проводится в Томске на территории Академгородка, где сосредоточены 6-->
            <!--                научно-исследовательских институтов и особая экономическая зона технико-внедренческого типа.</p>-->
            <!--            <p id="list-item-2">ИФПМ СО РАН является признанным лидером в развитии физической мезомеханики как-->
            <!--                передового междисциплинарного научного направления. Это определило роль Института как ведущего-->
            <!--                организатора данной конференции.</p>-->
            <!--            Соорганизаторами конференция являются более 10 ведущих исследовательских и образовательных-->
            <!--            центров России, Германии, Испании, Венгрии и Словении.-->
            <p> В 2024 году Институт физики прочности и материаловедения Сибирского отделения
                Российской академии наук (ИФПМ СО РАН), организованный в 1984 году академиком
                АН СССР (РАН) Виктором Евгеньевичем Паниным, празднует <a href="/program#program-list-item-1">
                    40-летний Юбилей</a>.</p>
            <p> Основным научным направлением Института является физическая мезомеханика
                материалов как междисциплинарный и многоуровневый подход к изучению и
                проектированию новых материалов на металлической, керамической и полимерной основах.
                В последнее десятилетие важной составляющей научно-технической и технологической
                деятельности Института стала разработка передовых аддитивных и нано- технологий.</p>
            <p> В настоящее время ИФПМ СО РАН является одним из ведущих в России и в мире
                научных центров, осуществляющим многоуровневые исследования и разработки новых
                материалов для машиностроения, приборостроения, энергетики и медицины, а также
                создающим передовые (в том числе аддитивные) технологии получения серийных и
                уникальных изделий.</p>
        </div>
        <div class="col">
            <h4 class="my-3">НОВОСТИ</h4>
            <p class="border border-primary rounded px-1 py-1 text-center">
                <b>27.02 <a href="/registration">Регистрация</a> открыта!</b><br>
                <a href="/announcement" download="First_Announcement_2024_rus.pdf">1-е информационное сообщение</a></p>
            <p class="ratio ratio-16x9">
                <iframe src="https://vk.com/video_ext.php?oid=-70419852&id=456239051&hash=4c2ee3b42a89b9e4"
                        frameborder="0" allowfullscreen="1"
                        allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </p>
            <p class="border border-primary rounded px-1 py-1 text-center">
                <b><a href="/program"> 40-ЛЕТИЕ ИФПМ СО РАН</a></b></p>
        </div>
    </div>
    <h4> НАПРАВЛЕНИЯ КОНФЕРЕНЦИИ</h4>
    <div class="text-start" style="color: #011f9b">
        <h5>Секция 1. Физическая мезомеханика материалов и структурно-неоднородных сред;</h5>
        <h5>Секция 2. Физика пластичности и прочности материалов;</h5>
        <h5>Секция 3. Моделирование поведения материалов на различных масштабах и компьютерный дизайн;</h5>
        <h5>Секция 4. Разработка перспективных конструкционных и функциональных материалов, передовые технологии их
            получения.</h5>
    </div>
    <p> В рамках конференции планируется проведение молодежной школы для студентов и аспирантов, на которой будут
        представлены доклады ученых мирового уровня, проводящих фундаментальные и прикладные исследования по
        различным
        направлениям наук о материалах.</p>
    <p> На конференцию приглашены представители организаций реального сектора экономики, в рамках докладов которых
        будут представлены актуальные прикладные проблемы, требующие решения в кооперации с научным сообществом. </p>
    <p> В работе конференции примут участие производители аналитического, технологического и испытательного
        оборудования, разработчики программных комплексов CAD и CAE, с устными и стендовыми докладами, на которых
        представят информация, имеющая практический интерес для участников конференции.</p>
    <p> Работу планируется организовать в виде пленарных заседаний, секционных и
        <a href="/publications#publ-list-item-3">стендовых</a>
        докладов. На пленарных заседаниях будут заслушаны приглашенные доклады по 30 мин (включая
        дискуссию). Время на секционные доклады — 15 мин. Для демонстрации материалов в устных
        докладах предусмотрено использование проекционного оборудования.</p>
    <p id="list-item-3"> Постеры для стендовой секции представляются в электронном виде (размер 60×80 см) в формате
        PDF. Печать постеров будет осуществляться Оргкомитетом. Шаблон оформления постерного доклада
        размещен на сайте Конференции (http://meso.ispms.ru/2021/files/Sample_poster_2021.ppt). Во время
        постерной сессии будет предусмотрена возможность кратко презентовать свою работу, всех
        желающих просим дополнительно подготовить не более 3-х слайдов.</p>

    <h4>КЛЮЧЕВЫЕ ДАТЫ</h4>
    <p><b><span style="color: #011f9b">01 июня 2024 г.</span> Окончание регистрации и приема тезисов докладов</b></p>
    <!--    <p><b>Подача статей для сборника докладов Конференции — <span            style="color: #011f9b">будет опубликовано позднее</span></b></p>-->
    <p><b><span style="color: #011f9b">01 июля 2024 г.</span> Окончание приема статей в журнал Russian Physics
        Journal</b></p>
    <p><b><span style="color: #011f9b">01 августа 2024 г.</span> Уведомление о принятии статей</b></p>
    <p id="list-item-4"><b><span style="color: #011f9b">11 августа 2024 г.</span> Оплата организационного взноса</b></p>
    <p><b><span style="color: #011f9b">11 августа 2024 г.</span> Окончание приема электронных версий постерных докладов</b>
    </p>
</div>
<div class="fix-bg" style="background-image: url(/img/MainFoto4.jpg)"></div>
<div class="container text-center">
    <h4>ОРГАНИЗАТОРЫ</h4>
    <div class="row">
        <div class="col-sm">
            <p> Институт физики прочности и материаловедения СО РАН, Россия<br>
                Институт теоретической и прикладной механики СО РАН, Россия<br>
                Институт гидродинамики им. М.А. Лаврентьева СО РАН, Россия<br>
                Институт проблем механики им. Ишлинского РАН, Россия<br>
                Институт проблем сверхпластичности металлов РАН, Россия<br>
                Институт механики сплошных сред УрО РАН, Россия<br>
                Институт машиноведения УрО РАН, Россия<br>
                Институт металлургии и материаловедения им. А.А. Байкова РАН, Россия<br></p>
        </div>
        <div class="col-sm">
            <p> Институт физико-технических проблем Севера СО РАН, Россия<br>
                Томский политехнический университет, Россия<br>
                Томский государственный университет, Россия<br>
                Министерство науки и высшего образования РФ<br>
                Сибирское отделение РАН, Россия<br>
                Берлинский технический университет, Германия<br>
                Штутгартский университет, Германия<br>
                <!--                Университет Мишкольц, Венгрия<br>-->
                <!--                Институт Йозефа Стефана, Словения<br>-->
                Университет страны Басков, Испания</p>
        </div>
    </div>
    <p class="my-2"><b>МЕЖДУНАРОДНЫЙ ОРГАНИЗАЦИОННЫЙ КОМИТЕТ</b></p>
    <div class="container">
        <div class="my-2"><b> Сопредседатели оргкомитета</b></div>
        <div class="row">
            <div class="col-sm">
                <b> Колубаев Е.А.</b><br>
                Томск, Россия
            </div>
            <div class="col-sm">
                <b> Фомин В.М.</b><br>
                Новосибирск, Россия
            </div>
            <div class="col-sm">
                <b> Попов В.Л.</b><br>
                Берлин, Германия
            </div>
        </div>
        <div class="my-2"><b> Члены оргкомитета</b></div>
        <div class="row">
            <div class="col-sm">
                <b>Андреев К.П.</b><br>
                Ухань, Китай<br>
                <!--                <b>Аннин Б.Д.</b><br>-->
                <!--                Новосибирск, Россия<br>-->
                <b>Батаев А.А.</b><br>
                Новосибирск, Россия<br>
                <b>Безносюк С.А.</b><br>
                Барнаул, Россия<br>
                <!--                <b>Берто Ф.</b><br>-->
                <!--                Трондхейм, Норвегия<br>-->
                <b>Валиев Р.З.</b><br>
                Уфа, Россия<br>
                <b>Ворожцов А.Б.</b><br>
                Томск, Россия<br>
                <b>Горячева И.Г.</b><br>
                Москва, Россия<br>
                <b>Громов В.Е.</b><br>
                Новокузнецк, Россия<br>
                <b>Ерманюк Е.В.</b><br>
                Новосибирск, Россия<br>
                <b>Зуев Л.Б.</b><br>
                Томск, Россия<br>
            </div>
            <div class="col-sm">
                <b>Каманцев И.С.</b><br>
                Екатеринбург, Россия<br>
                <!--                <b>Карпинтери А.</b><br>-->
                <!--                Турин, Италия<br>-->
                <b>Комлев В.С.</b><br>
                Москва, Россия<br>
                <!--                <b>Конторович А.Э.</b><br>-->
                <!--                Новосибирск, Россия<br>-->
                <b>Коротаев А.Д.</b><br>
                Томск, Россия<br>
                <b>Корсунский А.М.</b><br>
                Москва, Россия<br>
                <b>Кривцов А.М.</b><br>
                Санкт-Петербург, Россия<br>
                <b>Лебедев М.П.</b><br>
                Якутск, Россия<br>
                <b>Левин В.А.</b><br>
                Москва, Россия<br>
                <b>Лотков А.И.</b><br>
                Томск, Россия<br>
                <!--                <b>Ляхов Н.З.</b><br>-->
                <!--                Новосибирск, Россия<br>-->
                <b>Мышкин Н.К.</b><br>
                Гомель, Беларусь<br>
            </div>
            <div class="col-sm">
                <b>Мулюков Р.Р.</b><br>
                Уфа, Россия<br>
                <b>Панин А.В.</b><br>
                Томск, Россия<br>
                <b>Плехов О.А.</b><br>
                Пермь, Россия<br>
                <b>Полянский В.А.</b><br>
                Санкт-Петербург, Россия<br>
                <!--                <b>Прентковскис О.</b><br>-->
                <!--                Вильнюс, Литва<br>-->
                <b>Сундер Р.</b><br>
                Бангалор, Индия<br>
                <!--                <b>Чэнь Сичжан</b><br>-->
                <!--                Веньжоу, Китай<br>-->
                <!--                <b>Церпес К.</b><br>-->
                <!--                Патрас, Греция<br>-->
                <b>Чулков Е.В.</b><br>
                Сан-Себастьян, Испания<br>
                <b>Шанявский А.А.</b><br>
                Москва, Россия<br>
                <b>Швейкин А.И.</b><br>
                Пермь, Россия<br>
                <b>Шмаудер З.</b><br>
                Штутгарт, Германия<br>
            </div>
        </div>
    </div>
    <p class="my-2"><b>ПРОГРАММНЫЙ КОМИТЕТ </b></p>
    <div class="container">
        <div class="my-2"><b> Председатель: Шилько Е.В.</b>, Томск, Россия</div>
        <div class="my-2"><b> Члены комитета</b></div>
        <div class="row">
            <div class="col-sm">
                <b>Астафурова Е.Г.</b><br>
                Томск, Россия<br>
                <b>Балохонов Р.Р.</b><br>
                Томск, Россия<br>
                <b>Буякова С.П.</b><br>
                Томск, Россия<br>
                <b>Дмитриев А.И.</b><br>
                Томск, Россия<br>
                <b>Еремеев С.В.</b><br>
                Томск, Россия<br>
            </div>
            <div class="col-sm">
                <b>Клименов В.А.</b><br>
                Томск, Россия<br>
                <b>Князева А.Г.</b><br>
                Томск, Россия<br>
                <b>Лернер М.И..</b><br>
                Томск, Россия<br>
                <b>Назаров А.А.</b><br>
                Уфа, Россия<br>
                <b>Панин С.В.</b><br>
                Томск, Россия<br>
            </div>
            <div class="col-sm">
                <b>Романова В.А.</b><br>
                Томск, Россия<br>
                <b>Скрипняк В.А.</b><br>
                Томск, Россия<br>
                <b>Смирнов С.В.</b><br>
                Екатеринбург, Россия<br>
                <b>Соколова М.Д.</b><br>
                Якутск, Россия<br>
                <b>Шаркеев Ю.П.</b><br>
                Томск, Россия<br>
            </div>
        </div>
    </div>
    <p id="list-item-5" class="my-2"><b>ТЕХНИЧЕСКИЙ КОМИТЕТ</b></p>
    <div class="container">
        <div class="my-2"><b> Председатель: Батуев С.П.</b> , Томск, Россия</div>
        <div class="my-2"><b> Секретарь конференции: Чебодаева В.В.</b>, Томск, Россия</div>
        <div class="my-2"><b> Члены комитета</b></div>
        <div class="row">
            <div class="col-sm">
                Ахметшин Л.Р.<br>
                Белослудцева А.А.<br>
                Биргкаем А.А.<br>
                Бобенко Н.Г.<br>
            </div>
            <div class="col-sm">
                Власов И.В.<br>
<!--                Дедова Е.С.<br>-->
                Дьяченко Ф.А.<br>
                Зимина В.А.<br>
                Надежкин М.В.<br>
            </div>
            <div class="col-sm">
                Орлова Д.В.<br>
                Чжоу В.Р.<br>
            </div>
        </div>
    </div>
    <h4 class="my-3">НАШИ ПАРТНЕРЫ</h4>
    <!--    <p class="text-center"><a href="https://siams.com/" target="_blank">-->
    <!--        <img src="/img/SIAMS_logo.jpg" alt="logo"></a></p><br>-->
    <!--    <p>-->
    <!--        Компания SIAMS (ООО "СИАМС") более 30 лет занимается разработкой программного обеспечения и средств-->
    <!--        автоматизации для микроструктурных исследований. Область компетенций:<br>-->
    <!--        - Автоматический анализ микроструктур материалов<br>-->
    <!--        - Моторизация микроскопов ведущих производителей Olympus, Zeiss, Leica, Nikon, Meiji Techno и др.<br>-->
    <!--        - Распознавание объектов на изображении при помощи нейросетей-->
    <!--    </p>-->

    <!--    <ul class="list-group list-group-horizontal">-->
    <!--        <li class="list-group-item border-0"><img class="me-4" src="/img/plarus_logo_page-0001.jpg" alt="logo"></li>-->
    <!--        <li class="list-group-item border-0 text-center"><br><br><br><br><br>-->
    <!--            <a href="https://polaruslaser.ru/" target="_blank">Polarus</a>-->
    <!--            Российский производитель волоконных лазеров ультракоротких импульсов для микрообработки.-->
    <!--        </li>-->
    <!--    </ul>-->
</div>
<div th:replace="parts/footer :: footer"></div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>