<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<div th:replace="parts/header :: header"></div>

<body>
<div class="position-absolute top-50 start-50 translate-middle border border-3 border-info rounded-3 px-3 py-3">
    <img src="/img/PhisicalMesomechanics.png" alt="meso2023" class="container text-center">
    <h4 class="text-center py-2">Изменение пароля регистрации</h4>
    <h5 class="text-center py-2"> Введите новый пароль</h5>
    <div class="alert alert-danger" role="alert" th:if="${message != null}" th:text="${message}"></div>

    <form th:action="@{/passwordChange/{code}}" th:object="${user}" th:method="post" class="needs-validation">
        <div class="container text-center">
            <div class="row form-group">
                <div class="col input-group">
                    <input th:class="${!#fields.hasErrors('password')} ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Введите пароль" th:field="*{password}" type="password" name="password"
                           id="password" pattern="(?=.*\d)(?=.*[a-z,а-я])(?=.*[A-Z,А-Я]).{6,}"/>
                    <a href="#" class="password-control">
                        <img class="input-group-text" src="/static/eye.svg" alt="eye" id="input-group-text">
                    </a>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <input th:class="${!#fields.hasErrors('password')} ? 'form-control' : 'form-control is-invalid'"
                           placeholder="Повторите пароль" type="password" name="confirmation" id="confirmation"/>
                    <div th:if="${confirmation != null}" th:text="${confirmation}" class="text-danger"></div>
                </div>
                <div th:if="${mess != null}" th:text="${mess}" class="text-danger"></div>
            </div>
            <div class="row">
                <input type="hidden" name="code" th:value="${code}"/>
            </div>
        </div>
        <div class="container">
            <div th:replace="registration :: validation"></div>
        </div>
        <div class="text-center my-2"><input class="btn btn-primary" type="submit" value="Сохранить"/></div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/validate.js"></script>
<script>
    $('body').on('click', '.password-control', function () {
        if ($('#password').attr('type') === 'password') {
            $('#password').attr('type', 'text');
            $('#input-group-text').attr('src', '/static/eye-slash.svg');
        } else {
            $('#password').attr('type', 'password');
            $('#input-group-text').attr('src', '/static/eye.svg');
        }
        return false;
    });
    $('.btn.btn-primary.load').click(function () {
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Загрузка...')
    });
</script>
</body>
</html>