<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<div th:replace="parts/header :: header"></div>

<body>
<div class="position-absolute top-50 start-50 translate-middle border border-3 border-primary rounded-3 px-3 py-3">
    <a href="/">
        <img src="/img/PhisicalMesomechanics.png" alt="meso2023" class="container text-center">
    </a>
    <form action="#" th:action="@{/passwordReset}" th:method="post">
        <p class="text-center fs-5 py-2">Изменение пароля регистрации</p>
        <div class="text-start fs-6">Для замены пароля регистрации введите свой e-mail,</div>
        <p class="text-start fs-6">на почту будет выслана ссылка для внесения изменений</p>

        <div class="alert alert-danger" role="alert" th:if="${message != null}" th:text="${message}"></div>
        <div class="alert alert-success" role="alert" th:if="${messageOk != null}" th:text="${messageOk}"></div>

        <div class="form-group row">
            <div class="input-group col-sm-12">
                <img src="/static/envelope-open.svg" alt="envelope-open" class="input-group-text">
                <input class="form-control" placeholder="E-mail" type="text" name="email" id="email"/>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block py-3">
            <button class="btn btn-primary load col-6" type="submit">Отправить</button>
            <a href="/login" class="link-primary mx-2">Назад к авторизации</a>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>

    <div class="text-md-center">
        <a href="/registration" class="link-secondary">Зарегистрироваться</a>
    </div>
    <div class="text-md-center">
        <a href="/" class="link-secondary">Вернуться в главное меню</a>
    </div>
</div>
<script>
    $('.btn.btn-primary.load').click(function () {
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Загрузка...')
    });
</script>
</body>
</html>