<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="parts/header :: header"></div>

<body>
<div session="true">
    <div th:replace="parts/navbar :: navbar"></div>
    <div class="container-xl">
        <h1 id="publ-list-item-1">h</h1>
        <h4 class="py-2">ОФОРМЛЕНИЕ ТЕЗИСОВ</h4>
        <p> К началу работы конференции будет издан электронный сборник тезисов докладов с присвоением DOI и
            регистрацией в базе данных РИНЦ. Тезисы должны быть оформлены следующим образом:</p>
        <ul>
            <li>в формате текстового редактора Microsoft Word;</li>
            <li>объем тезисов должен составлять не более двух страниц;</li>
            <li>формат А4, поля: верхнее – 2,5 см, нижнее – 1,5 см, левое – 2 см, правое – 2 см;</li>
            <li>шрифт Times New Roman размер шрифта 12 пт;</li>
            <li>межстрочный интервал – одинарный;</li>
            <li>абзац (автоматический) – 1 см;</li>
            <li>выравнивание текста по ширине;</li>
            <li>перенос слов автоматический;</li>
            <li>ширина таблиц и рисунков не более 17 см, размер шрифта заголовков и содержания таблиц 10 пт;</li>
            <li>рисунки в формате TIFF, PNG с разрешением не менее 300 dpi;</li>
            <li>формулы вставляются отдельной строкой без отступа и форматируются по центру. При наличии в тексте ссылок
                на формулы последние необходимо нумеровать арабскими цифрами у правого края листа в круглых скобках.
                Ссылки в тексте на формулы также дают в круглых скобках;
            </li>
            <li> тезисы могут быть представлены на русском или английском языке.</li>
        </ul>

        <p><a href="/publications/thesis" download="Sample_thesis_2024.docx"> Шаблон оформления тезисов</a></p>
<!--        <p><b>Шаблон оформления тезисов будет выложен позже</b></p>-->
        <div th:if="${authentic}">
            <p>Файл с тезисами доклада можно будет загрузить в <a href="/personal">личном кабинете</a> после <a
                    href="/registration">регистрации.</a></p>
        </div>
        <div th:unless="${authentic}">
            <p>Добавить и отредактировать тезисы можно в <a href="/personal">личном кабинете</a></p>
        </div>

        <p id="publ-list-item-2">Для граждан Российской Федерации необходимо в обязательном порядке оформить бумажные
            оригиналы разрешений на
            публикацию тезисов и загрузить скан-копии на сайт в личном кабинете при добавлении тезисов.
            Оригинальный документ следует передать в оргкомитет при регистрации на мероприятии либо выслать по адресу:
            634055, г. Томск, просп. Академический, 2/4, ИФПМ СО РАН, Чебодаевой Валентине Вадимовне </p>

        <h4 class="py-2">ОФОРМЛЕНИЕ СТАТЕЙ</h4>

<!--        <p> Избранные доклады Конференции планируются к публикации в журнале, индексируемом-->
<!--            <a href="https://www.scimagojr.com/" target="_blank"> SCImago</a>.<br>-->
<!--            Подробная информация будет опубликована позднее. </p>-->
        <p> Избранные доклады конференции планируются к публикации в журнале
            <a href="https://www.scimagojr.com/journalsearch.php?q=144737&tip=sid&clean=0" target="_blank">
                Russian physics journal</a> (SCImago Q3), тип публикации - журнальная. Количество публикаций ограничено,
            решение о принятии статей будет приниматься оргкомитетом совместно с редакцией журнала.</p>

        <p><a href="/publications/rpj" download="Rules_Russian_physics_journal.docx">Правила оформления статьи в Russian
            physics journal</a></p>

        <!--        <p>Участники конференции приглашаются представить материалы своих докладов для опубликования в журнале-->
        <!--            <b> <a href="https://aip.scitation.org/journal/apc" target="_blank">AIP Conference Proceedings</a></b>,-->
        <!--            индексируемом международными базами данных Web of Science и-->
        <!--            Scopus. Тексты статей должны быть оформлены в соответствии с-->
        <!--            <a href="https://aip.scitation.org/apc/authors/preppapers" target="_blank"> требованиями</a>-->
        <!--            издательства AIP Pubishing. На указанной веб-странице вы также можете найти шаблон оформления статьи.</p>-->
        <!--        <p>Либо скачать <b>шаблон оформления статьи</b> по ссылке <a-->
        <!--                href="/publications/paper" download="AIP_Article_Template.docx">AIP Conference Proceedings Article-->
        <!--            Template</a>.<br>-->
        <!--            Требования к статьям:-->
        <!--        <ul>-->
        <!--            <li>объем не менее 4 стр;</li>-->
        <!--            <li>аннотация должна быть информативной и не состоять из 2-3 строк.</li>-->
        <!--            При подготовке списка литературы:</li>-->
        <!--            <li>необходимо оформлять ссылки согласно требованиям шаблона. При ссылке на-->
        <!--                журнальные статьи название статей не указывается.-->
        <!--            </li>-->
        <!--            <li>Названия журналов должны быть представлены в сокращенном виде;</li>-->
        <!--            <li>самоцитирование (в списке литературы) не должно превышать 30%;</li>-->
        <!--            <li>не менее 75% от общего количества ссылок должно быть на источники на-->
        <!--                английском языке.-->
        <!--            </li>-->
        <!--        </ul>-->
        <!--        </p>-->
        <!--        <p><b>Шаблон лицензионного соглашения</b> с издательством AIP Pubishing <a-->
        <!--                href="/publications/license" download="AIP_Conference_Proceedings_License_Agreement.pdf">AIP Conference-->
        <!--            Proceedings License Agreement</a>.<br>-->
        <!--            <b>Пример заполнения лицензионного соглашения </b><a-->
        <!--                    href="/publications/licenseExample"-->
        <!--                    download="AIP_Conference_Proceedings_License_Agreement_example.pdf">AIP Conference Proceedings-->
        <!--                License Agreement Example</a>.<br>-->
        <!--            При оформлении лицензионного соглашения авторам необходимо заполнить следующие поля:-->
        <!--        <ul>-->
        <!--            <li>Article Title (“Work”). Вводится название конференционной статьи.</li>-->
        <!--            <li>All Author(s). Вводятся имена всех авторов статьи в том виде и в том порядке, в котором они приведены в-->
        <!--                тексте конференционной статьи.-->
        <!--            </li>-->
        <!--            <li>1. The Author must please sign here (except if an Author is a U.S. Government employee, then please sign-->
        <!--                under #3 below). Вводится имя автора для переписки в том виде, в котором его имя указано в-->
        <!--                конференционной статье, а также дата подписания соглашения (не ранее 03.09.2022 и не позднее-->
        <!--                23.09.2022).-->
        <!--            </li>-->
        <!--            <li>После заполнения указанных полей лицензионное соглашение распечатывается и подписывается-->
        <!--                автором для переписки. Подписанное лицензионное соглашение сканируется в цвете (PDF файл).-->
        <!--            </li>-->
        <!--        </ul>-->
        <!--        </p>-->
        <!--        <p>Файл со статьей (Word), лицензионное соглашение с издательством (PDF) и экспертное заключение о возможности-->
        <!--            опубликования в открытой печати (PDF) необходимо загрузить через <a href="/personal">личный кабинет</a>-->
        <!--            <span style="color: #011f9b"><b>до 30 сентября включительно</b></span>.-->
        <!--        </p>-->
<!--        <p>Обращаем внимание авторов, что все статьи будут<span style="color: #011f9b"><b> проверяться на плагиат</b></span> и процент уникальности статьи должен-->
<!--            состалять не менее 80%.-->
<!--        </p>-->
<!--        <p>Файл со статьей (Word), и экспертное заключение о возможности опубликования в открытой печати (PDF)-->
<!--            необходимо загрузить через <a href="/personal">личный кабинет</a><span style="color: #011f9b"><b> до 01 августа</b></span>.-->
<!--        </p>-->

        <h4 id="publ-list-item-3" class="my-2">ОФОРМЛЕНИЕ ПОСТЕРОВ</h4>
        <p> Постеры для стендовой секции загружаются в <a href="/personal">личном кабинете</a> в формате PDF.</p>
        <p><b> Шаблон оформления постеров будет выложен позже</b></p>
<!--        <p><a href="/publications/poster" download="Sample_poster_2023.pptx"> Шаблон оформления постера</a></p>-->
        <p> Печать постеров будет осуществляться Оргкомитетом на бумаге формата А1.
            Во время проведения постерной сессии будет предусмотрена возможность краткой презентации работы с
            использованием проекторной техники, всех желающих просим дополнительно подготовить не более 3-х слайдов.</p>
    </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>