<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="parts/headerEn :: headerEn"></div>

<body>
<div th:replace="parts/navbarEn :: navbarEn"></div>

<h1 id="list-item-En-1">h</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div th:replace="mainPage :: carousel-indicators"></div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/MainPhoto1_2024.jpg" class="d-block w-100" alt="...">
            <div th:fragment="carousel-caption" class="carousel-caption d-none d-md-block"
                 style="color: black; background: white; opacity: 0.6">
                <h2>Physical mesomechanics</h2>
                <h5>September 09-12, 2024 Tomsk</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto2_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="En/mainPageEn :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto3_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="En/mainPageEn :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto4_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="En/mainPageEn :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto5_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="En/mainPageEn :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto6_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="En/mainPageEn :: carousel-caption"></div>
        </div>
        <div class="carousel-item">
            <img src="/img/MainPhoto7_2024.jpg" class="d-block w-100" alt="...">
            <div th:replace="En/mainPageEn :: carousel-caption"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container text-center">

    <h4 class="my-3">GENERAL INFORMATION</h4>
    <!--    <p></p><a href="/publications/announcementEn" download="Third_Announcement_2022_en.pdf">Third Announcement</a></p>-->
    <!--    <p><a href="/publications/announcement" download="Second_Announcement_2023_rus.pdf">Second announcement</a></p>-->
    <p>The International Conference <b>“Physical mesomechanics. Materials with a multi-level hierarchical structure and
        intelligent manufacturing technologies”</b> continues the series of international
        conferences on physical principles and mechanisms of material structure formation and nonlinear material
        behavior. The conference will take place from 09 to 12 September 2024 in Tomsk.</p>
    <p>The global objective of the forthcoming scientific forum is to combine the efforts of scientists from solid-state
        physics, mathematics, mechanics, chemistry, and machine learning to search for the answers to the urgent
        questions of condensed matter physics and physical materials science. The concept of Physical Mesomechanics is
        an efficient scientific platform for such a combination of studying and solving new, yet not well-defined
        problems.</p>
    <p>Recent studies by the world's leading physics and materials science centers convincingly show that the mechanisms
        and the nature of nonlinear behavior of solids and soft matter under various external actions (mechanical,
        thermal, electromagnetic, radiation, etc.) are largely determined by the hierarchy of self-organized
        accommodation processes. The mechanisms and laws of material accommodation are studied by Physical
        Mesomechanics, the interdisciplinary scientific direction. Being at the intersection of physicochemical and
        mechanical approaches to the description of matter, this scientific direction combines the mechanics of
        structurally inhomogeneous media, condensed matter physics, physics of plasticity and fracture, physics and
        chemistry of structure formation, and physical materials science. Special attention is paid to the
        substantiation of the generality of the laws of multiscale self-organization of nonlinear processes and
        phenomena in inorganic and organic materials (solids and soft matter).</p>
    <p>Physical Mesomechanics develops the scientific basis for the modern paradigm (multiscale, multiphysics,
        interdisciplinary), which has become now an inherent part of the methodology of mechanics, physics, chemistry,
        computer science, life sciences, geological sciences, etc. This makes Physical Mesomechanics in great demand
        both in fundamental science and in various practical (engineering) applications as they require taking into
        account the multiscale hierarchical organization of natural and artificial materials / structures / systems.</p>
    <p>Since 1996, the Conference has been annually organized and held by the Institute of Strength Physics and
        Materials Science SB RAS (ISPMS SB RAS) and annually attracts more than 300 participants from various countries.
        Over the years, the Conference was held in various cities of Russia, Germany, Denmark, China. In recent years,
        the Conference has been held in Tomsk (Russia) in a special area (Academician town), where 6 scientific
        institutes and a free economic zone (Tomsk technology and innovation zone) are concentrated.</p>
    <p id="list-item-En-2">ISPMS SB RAS is a recognized world leader in the development of Physical Mesomechanics as an
        advanced
        interdisciplinary scientific direction. This substantiates the role of the Institute as an organizer of this
        Conference. The conference is co-organized by nearly 10 leading research centers in Russia, Germany, Spain,
        Hungary, and Slovenia.</p>
    <h4>KEY TOPICS</h4>
    <div class="text-start" style="color: #011f9b">
        <h5>1. Physical mesomechanics of materials and structurally inhomogeneous media;</i></h5>
        <h5>2.Physics of plasticity and strength of materials; </h5>
        <h5>3. Simulation of the behavior of materials at various scales and computer design;</h5>
        <h5>4. Development of promising structural and functional materials, advanced technologies for their
            production.</h5>
    </div>
    <p id="list-item-En-3"> The conference will provide a platform for a young scientists school involving the
        participation of students,
        postgraduates, and young scientists.</p>
    <p> Among the guests will be representatives of research equipment / scientific software manufacturers (COMSOL,
        FIDESYS, etc.) and the real economy.</p>
    <h4 id="list-item-En-4">IMPORTANT DATES</h4>
    <p><b><span style="color: #011f9b">01 June 2024</span> — Registration and lecture title</b></p>
    <p><b><span style="color: #011f9b">01 July 2024</span> — Submission of conference paper</b></p>
    <h4>ORGANISERS</h4>
    <div class="row">
        <div class="col-sm">
            <p> Institute of Strength Physics and Materials Science SB RAS, Russia<br>
                Institute of Theoretical and Applied Mechanics SB RAS, Russia<br>
                Lavrentyev Institute of Hydrodynamics SB RAS, Russia<br>
                Ishlinsky Institute for Problems in Mechanics RAS, Russia<br>
                Institute for Metals Superplasticity Problems RAS, Russia<br>
                Baikov Institute of Metallurgy and Materials Science RAS, Russia<br>
                Institute of Continuous Media Mechanics UrB RAS, Russia<br>
                Institute of Engineering Science UrB RAS, Russia<br>
        </div>
        <div class="col-sm">
            <p>
                Institute of Physical-Technical Problems of the North SB RAS, Russia<br>
                Tomsk Polytechnic University, Russia<br>
                Tomsk State University, Russia<br>
                Ministry of Science and Higher Education of the Russian Federation<br>
                Siberian Branch of RAS, Russia<br>
                Technical University of Berlin, Germany<br>
                University of Stuttgart, Germany<br>
                <!--                University of Miskolc, Hungary<br>-->
                <!--                Jožef Stefan Institute, Slovenia<br>-->
                University of the Basque Country, Spain<br>
        </div>
    </div>
    <p class="my-2"><b>INTERNATIONAL ORGANIZING COMMITTEE</b></p>
    <div class="container">
        <div class="my-2"><b>Chairmen</b></div>
        <div class="row">
            <div class="col-sm">
                <b>Kolubaev E.A.</b><br>
                Tomsk, Russia<br>
            </div>
            <div class="col-sm">
                <b>Fomin V.M.</b><br>
                Novosibirsk, Russia<br>
            </div>
            <div class="col-sm">
                <b>Popov V.L.</b><br>
                Berlin, Germany<br>
            </div>
        </div>
        <div class="my-2"><b> Members</b></div>
        <div class="row">
            <div class="col-sm">
                <!--                <b> Altunina L.K.</b><br>-->
                <!--                Tomsk, Russia<br>-->
                <b>Andreev K.P.</b><br>
                Wuhan, China<br>
                <!--                <b>Annin B.D.</b><br>-->
                <!--                Novosibirsk, Russia<br>-->
                <b>Bataev A.A.</b><br>
                Novosibirsk, Russia<br>
                <b>Beznosyuk S.A.</b><br>
                Barnaul, Russia<br>
                <!--                <b>Berto F.</b><br>-->
                <!--                Trondheim, Norway<br>-->
                <b>Valiev R.Z.</b><br>
                Ufa, Russia<br>
                <b>Vorozhtsov A.B.</b><br>
                Tomsk, Russia<br>
                <!--                <b>Glezer A.M.</b><br>-->
                <!--                Moscow, Russia<br>-->
                <!--                <b>Golovin S.V.</b><br>-->
                <!--                Novosibirsk, Russia<br>-->
                <b>Goryacheva I.G.</b><br>
                Moscow, Russia<br>
                <b>Gromov V.E.</b><br>
                Novokuznetsk, Russia<br>
                <b>Ermanyuk E.V.</b><br>
                Novosibirsk, Russia<br>
                <b>Zuev L.B.</b><br>
                Tomsk, Russia<br>
                <!--                <b>Carpinteri A.</b><br>-->
                <!--                Turin, Italy<br>-->
            </div>
            <div class="col-sm">
                <b>Kamantsev I.S.</b><br>
                Ekaterinburg, Russia<br>
                <b>Komlev V.S.</b><br>
                Moscow, Russia<br>
                <!--                <b>Kontorovich A.E.</b><br>-->
                <!--                Novosibirsk, Russia<br>-->
                <b>Korotaev A.D.</b><br>
                Tomsk, Russia<br>
                <b>Korsunsky A.M.</b><br>
                Moscow, Russia<br>
                <!--                <b>Kocharyan G.G.</b><br>-->
                <!--                Moscow, Russia<br>-->
                <b>Krivtsov A.M.</b><br>
                Saint Petersburg, Russia<br>
                <b> Lebedev M.P.</b><br>
                Yakutsk, Russia<br>
                <b>Levin V.A.</b><br>
                Moscow, Russia<br>
                <b>Lotkov A.I.</b><br>
                Tomsk, Russia<br>
                <!--                <b>Lyakhov N.Z.</b><br>-->
                <!--                Novosibirsk, Russia<br>-->
                <!--                <b>Makarov P.V.</b><br>-->
                <!--                Tomsk, Russia<br>-->
                <!--                <b>Maruschak P.O.</b><br>-->
                <!--                Ternopol, Ukraine<br>-->
                <b> Myshkin N.K.</b><br>
                Gomel, Belarus<br>
            </div>
            <div class="col-sm">
                <b>Mulyukov R.R.</b><br>
                Ufa, Russia<br>
                <!--                <b>Naimark O.B.</b><br>-->
                <!--                Perm, Russia<br>-->
                <b>Panin A.V.</b><br>
                Tomsk, Russia<br>
                <b>Plekhov O.A.</b><br>
                Perm, Россия<br>
                <b>Polyansky V.A.</b><br>
                Saint Petersburg, Russia<br>
                <!--                <b>Prentkovskis O.</b><br>-->
                <!--                Vilnius, Lithuania<br>-->
                <b>Sunder R.</b><br>
                Bangalore, India<br>
                <!--                <b>Chen Xizhang</b><br>-->
                <!--                Wenzhou, China<br>-->
                <!--                <b>Tserpes K.</b><br>-->
                <!--                Patras, Greece<br>-->
                <b>Chulkov E.V.</b><br>
                San Sebastián, Spain<br>
                <b>Shanyavsky A.A.</b><br>
                Moscow, Russia<br>
                <b>Shveikin A.I.</b><br>
                Perm, Russia<br>
                <b>Schmauder S.</b><br>
                Stuttgart, Germany<br>
            </div>
        </div>
    </div>
    <p class="my-2"><b>PROGRAM COMMITTEE</b></p>
    <div class="container">
        <div class="my-2"><b>Chairman: Shilko E.V. </b> Tomsk, Russia</div>
        <div class="my-2"><b>Members</b></div>
        <div class="row">
            <div class="col-sm">
                <b>Astafurova E.G.</b><br>
                Tomsk, Russia<br>
                <b>Balokhonov R.R.</b><br>
                Tomsk, Russia<br>
                <b>Vosmerikov A.V.</b><br>
                Tomsk, Russia<br>
                <b>Dmitriev A.I.</b><br>
                Tomsk, Russia<br>
                <b>Eremeev S.V.</b><br>
                Tomsk, Russia<br>
                <b>Knyazeva A.G.</b><br>
                Tomsk, Russia<br>
            </div>
            <div class="col-sm">
                <b>Kudryashov S.V.</b><br>
                Tomsk, Russia<br>
                <b>Kulkova S.E.</b><br>
                Tomsk, Russia<br>
                <b>Panin S.V.</b><br>
                Tomsk, Russia<br>
                <b>Plekhov O.A.</b><br>
                Perm, Russia<br>
                <b>Romanova V.A.</b><br>
                Tomsk, Russia<br>
                <b>Ruzhich V.V.</b><br>
                Irkutsk, Russia<br>
            </div>
            <div class="col-sm">
                <b>Sergeev V.P.</b><br>
                Tomsk, Russia<br>
                <b>Skripnyak V.A.</b><br>
                Tomsk, Russia<br>
                <b>Smirnov S.V.</b><br>
                Yekaterinburg, Russia<br>
                <b>Sokolova M.D.</b><br>
                Yakutsk, Russia<br>
                <b>Tyumentsev A.N.</b><br>
                Tomsk, Russia<br>
                <b>Sharkeev Yu.P.</b><br>
                Tomsk, Russia<br>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>