<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="parts/headerEn :: headerEn"></div>

<body>
<div th:replace="parts/navbarEn :: navbarEn"></div>

<h1>h</h1>
<div class="container-xl">
    <h4 class="my-3">CONFERENCE PROCEEDINGS</h4>
    <p>Conference participants are invited to submit their papers for publication in the
        <a href="https://aip.scitation.org/journal/apc" target="_blank">
            AIP Conference Proceedings</a> journal (AIP Publishing) indexed in Web of Science and Scopus.
    </p>
    <p>The conference articles must be prepared and formatted in accordance with the
        <a href="https://aip.scitation.org/apc/authors/preppapers"
           target="_blank"> requirements of AIP Publishing</a>.
    </p>
    <p><b>Article template</b> and related instructions can can be downloaded from
        <a href="https://aip.scitation.org/pb-assets/files/publications/apc/8x11WordTemplates-1607702598523.zip"
           target="_blank"> the link</a>.
    </p>
    <p>Key requirements for the article:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- not less than 4 pages;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- the abstract should be informative and not consist of 2-3 lines.<br>
        List of references must be prepared according to the requirements of the template:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- titles of the journal articles are not indicated;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- journals titles should be presented in abbreviated form;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- self-citation (fraction of references to the articles of co-authors in the total
        number of references) should not exceed 30%;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- at least 75% of the total number of references should be to publications in
        English.
    </p>
    <p>In addition to preparing the article, authors must complete and sign a
        <a href="https://aip.scitation.org/pb-assets/files/publications/apc/AIP_Conference_Proceedings_License_Agreement-1651521006287.pdf"
           target="_blank"> license agreement with AIP Publishing</a>. A color scanned copy of the signed license
        agreement is submitted in PDF format along with the article file.
    </p>
    <p> An example of filling out a license agreement with AIP Pubishing is available </b><a
            href="/publications/licenseExample" download="AIP_Conference_Proceedings_License_Agreement_example.pdf">
        here</a>.</p>

    <p> Authors need to fill in the following fields of the license agreement:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Article Title (“Work”). Enter the title of the conference paper;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- All Author(s). Enter the names of all authors of the conference paper in the
        same form as in the article;<br>
        &nbsp;&nbsp;&nbsp;- 1. The Author must please sign here (except if an Author is a U.S. Government
        employee, then please sign
        under #3 below). Enter the name of the corresponding author in the same form as in the conference paper. Enter
        the date of signing the agreement (not earlier than 03.09.2022 and not later than 23.09.2022);<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- After filling in the above fields, the license agreement is printed and signed
        by the corresponding author.
        The signed license agreement must be scanned in color (PDF).
    </p>

    <p>The article (Microsoft Word file) and the license agreement (PDF file) must be sent to the organizing committee
        <a href="mailto:meso@ispms.ru?subject=Physical mesomechanics paper">meso@ispms.ru</a> not later than
        <b>September 23</b>.</p>
    <p>The issue of the Conference Proceedings Volume is expected in the first half of 2023.</p>
</div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>