<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="parts/headerEn :: headerEn"></div>

<body>
<div th:replace="parts/navbarEn :: navbarEn"></div>

<h1>h</h1>
<div class="container-xl">
    <h4 class="py-2" id="fee-list-item-2">CONFERENCE VENUE</h4>
    <p>Conference sessions, plenary, oral and poster sections will be held in the "Rubin"</p>
    <p>Congress Center (16 Akademicheskii pr., 634055, Russia).</p>
    <p><a href="https://rubin.tomsk.ru/" target="_blank"> rubin.tomsk.ru</a></p>

    <h4 class="py-2" id="fee-list-item-3">ACCOMMODATION</h4>
    <p> The nearest hotel to the conference venue is the Congress Centre “Rubin”, </p>
    <p><a href="https://rubin.tomsk.ru/" target="_blank"> rubin.tomsk.ru</a>, phone/fax: (3822) 49-26-89,
        49-25-59</p>
    <p> E-mail: <a href="mailto:rubin@mail.tomsknet.ru?subject=Физическая мезомеханика"> rubin@mail.tomsknet.ru </a></p>
    <p> To receive a conference participant <b>discount (20%)</b> when booking a room, you should send an
        email to
        <a href="mailto:meso@ispms.ru?subject=Физическая мезомеханика Проживание"> meso@ispms.ru </a>
        indicating the type of room and the dates of arrival/departure</p>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>